<section class="case">
    <div class="case__inner">
      <h2 class="case__title">Our Case Studies</h2>
  
      <div class="case__slider">
        <div class="case__card">
          <div class="case__pattern">
            <img src="{{ url_for('static', filename='img/Vector-11.png') }}" alt="">
            <img src="{{ url_for('static', filename='img/Vector-12.png') }}" alt="">
            <img src="{{ url_for('static', filename='img/Vector-13.png') }}" alt="">
            <img src="{{ url_for('static', filename='img/Vector-14.png') }}" alt="">
          </div>
  
          <div class="case__content">
            <div class="tag">GETTING STARTED</div>
            <h3>How we help brand<br>reach out to more<br>people</h3>
            <div class="meta"><span class="bolt">⚡</span> Zoomerr</div>
            <a class="btn btn--outline btn--wide" href="#">READ MORE</a>
          </div>
        </div>
  
        <div class="case__controls">
          <button class="circle">←</button>
          <div class="dots">
            <span></span><span class="active"></span><span></span><span></span>
          </div>
          <button class="circle">→</button>
  
          <a class="link viewall" href="#">VIEW ALL →</a>
        </div>
      </div>
    </div>
  </section>
  